<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilibili.brouter.example.extensions">

    <application>
        <activity android:name=".container.PagerContainerActivity" />
        <activity android:name=".container.SingleFragmentContainerActivity" />
    </application>
</manifest>